.custom-btn {
    background-color: #cf022b;
    border-color: #cf022b;
  }
  
  .custom-btn:hover {
    background-color: #cf022b;
    border-color: #cf022b;
  }
  .swal2-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  